[submodule "fzf-tab"]
	path = zsh/.config/zsh/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
	sparseCheckout = true
[submodule "zsh-functional"]
	path = zsh/.config/zsh/plugins/zsh-functional
	url = git@github.com:Tarrasch/zsh-functional.git
	sparseCheckout = true
